.body-container {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  margin: 20px auto;
}

.body-container > header {
  display: grid;
  grid-template: repeat(1, auto) / repeat(2,auto);
  border: 1px solid black;
  height: fit-content;
}

.body-container > header > p {
  grid-row-start: 1;
  height: fit-content;
}